# Ignore datasets
data/*.csv

# Ignore virtual environment
venv/
__pycache__/
*.pyc

# Ignore model cache files (but keep saved models you want in Git)
*.pkl

# Ignore system files
.DS_Store
Thumbs.db
